@import url(./common.blocks/header.css);
@import url(./common.blocks/hero.css);
@import url(./common.blocks/company.css);
@import url(./common.blocks/about.css);
@import url(./common.blocks/popular.css);
@import url(./common.blocks/furniture.css);
@import url(./common.blocks/customers.css);
@import url(./common.blocks/subscribe.css);
@import url(./common.blocks/footer.css);