.about {
    padding: 50px 0 70px;
    background-color: rgb(241, 235, 226);

}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 46px;
    align-items: center;
}

.about__img-box {}

.about__img {
    height: 100%;
    box-shadow: 30px 30px 0 #DEE4E2, 0 30px 0 #DEE4E2;
}

.about__content {
    max-width: 435px;
}

.about__text {
    margin-bottom: 40px;
}

.about__title {
    margin-bottom: 20px;
}

.about__title:hover {
    color: var(--primary);
    font-size: 28px;
}

.about__item-text {
    grid-area: text;
    gap: 32px;
}

.about__list {
    display: grid;
    gap: 30px;
}

.about__item {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon text";
    justify-content: start;
    column-gap: 30px;
    row-gap: 14px;
    max-width: 375px;
    gap: 15px;
}

.about__icon {
    grid-area: icon;
    width: 50px;
    height: 48px;
    color: var(--primary);
}

.about__item-title {
    grid-area: title;
    color: var(--primary);
}

@media (min-width: 992px) {
    .about__container {
        flex-direction: row;
    }
}