.company {
    padding: clamp(2.5rem, 0.7143rem + 8.9286vw, 8.75rem) 0;
    background-color: rgb(241, 235, 226);
}

.company__container {
    text-align: center;

}

.company__title {
    margin-bottom: 40px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 14s linear infinite 1ms;

}

.marquee span {

    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear !important;

}



.titr {
    background-color: var(--primary);
    color: wheat;
    font-size: 34px;
    font-weight: 900;
    transition: all;

}




.company__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.company__item {
    flex-shrink: 0;
}

.company__link {}

.company__img {}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}