.footer {
    padding-top: 100px;
    background-color: var(--primary);
    color: white;

}

.footer__form {}

.footer__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}



.footer__content {
    max-width: 310px;
}

.footer__logo {
    margin-bottom: 24px;
    display: inline-block;
}

.footer__logo-icon {
    color: white !important;
}

.footer__text {
    margin-bottom: 40px;
}

.footer__title {
    margin-bottom: 20px;
}

.socials {}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socials__item {}

.socials__link {}

.socials__icon {
    width: 20px;
    height: 20px;
    color: white;
}

.footer__column {}

.footer__column-title {
    margin-bottom: 24px;
}

.footer__column-list {
    display: grid;
    gap: 20px;
}

.footer__column-item {}

.footer__column-link {}

.footer__column-text {
    max-width: 240px;
    margin-bottom: 40px;
    color: white;
}

.footer__column-form-input {
    border: none;
    padding: 10px;
}

.text {}

.footer__copyright {
    padding: 20px 0;
    text-align: center;
    color: white;
}

.footer__column-form {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: white;
    padding: 10px;
}

.footer__column-form-input {}

.footer__column-form-button {}

.footer__column-form-icon {
    width: 28px;
    height: 28px;
}