.hero {}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 1.1px;
}


.hero__img-box {
    width: 100%;

}

.hero__img {
    width: 100%;
    height: 442px;

}

.hero__content {
    display: grid;
    gap: 35px;
    flex-grow: 1;
    padding: 18px;

    background-color: var(--primary);
    color: #fff;


}

.hero__title {
    max-width: 600px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(1.875rem, 1.4107rem + 2.3214vw, 3.5rem);
}

.hero__text {
    max-width: 460px;
}

.hero__button {
    justify-self: start;
    background-color: whitesmoke;
    color: var(--primary);
    text-transform: uppercase;





}

.hero__button:hover {
    font-size: 21px;
    color: #00cc99;
    cursor: pointer;
    text-align: center;
    transition: 0.5s 0.5s 0.5s var(111, 112, 113 587) ease;
    font-size: 1.5rem;
    border: none;

    box-shadow: 0 0 10px 0 #00cc99;
    inset:
        0 0 20px 3px #00cc99;
}

@media (min-width: 768px) {
    .hero__container {
        flex-direction: row;
    }

    .hero__img-box {
        width: 410px;

    }

    .hero__img {
        height: 100%;
    }

    .hero__content {
        padding: 100px 10px 140px 100px;
    }
}