.subscribe {
    padding: 70px 0;
    text-align: center;
}

.subscribe__container {
    display: grid;
    justify-content: center;
    padding: 70px 15px 55px;
    background-color: #f4f6f6;

}

.subscribe__title {
    margin-bottom: 25px;
    max-width: 550px;
}

.subscribe__text {
    margin-bottom: 40px;
    max-width: 500px;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 5px;
    max-width: 470px;
    margin: 0 auto;


}

.subscribe__label {
    display: flex;
    align-items: center;
    gap: 10px;

}

.subscribe__icon {
    width: 16px;
    height: 16px;
    background-color: var(--primary);
    color: wheat;

}



.subscribe__input {
    border: 0;
    background: transparent;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    width: 100%;
}

.subscribe__button {
    width: 125px;
    height: 52px;
    cursor: pointer;
}

.subscribe__button:hover {
    background-color: #959595;
    color: var(--primary);
}